@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-vidaloka: "Vidaloka", serif;

  --color-red-dark: #6e182e;
  --color-red-medium: #a6192e;
  --color-red-light: #e4002b;

}

* {
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/****************     barra navegacion     ****************/
header {
  width: 100vw;
  height:fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: fixed;
  background-color: var(--color-red-light);
  z-index: 25;
}

header > .logo {
  width: 10%;  
}

header > .logo >img{
width: 40%;

  }

header > nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

header > nav >ul>li{
font-size: 1.2em;
margin:0 1em;
text-transform: uppercase;
font-family: var(--font-roboto);
font-weight: 400;
transition: all .3s ease-in-out;

padding:0.5em;
  }

  header > nav >ul>li:hover{
    background-color: var(--color-red-medium);
  }

header > .social {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;


}
header > .social>ul>li>a>i {
font-size: 1.2em;
margin:0 0.5em
    
  
  }
.contenedor-principal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

video  {
  position: fixed;

  z-index: -2;
}


.contenedor-hero{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
position: relative;
margin:8% auto 0 auto;
  width: 70vw;
  height: 80vh;
 
  
}
.contenedor-texto-hero {
  padding:1em;
  display: flex;
  margin:4% 0 0 0 ;
  flex-direction: column;
  justify-content: center;
  text-align: center;

 
}

.contenedor-texto-hero > h1 {
  font-size: 4.8em;
  line-height: 1.5em;
  font-family: var(--font-vidaloka);
  font-weight: 400;

}


.contenedor-informacion{
    display:flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.166);
    justify-content: end;
    height: auto;
  
}

.hour , .location , .map{

   display: flex;
   flex-direction: column;
   justify-content: center;
   padding:1em;
   width: 33.3%;

}
.hour>h2 , .location>h2{
 text-transform: capitalize;
 font-weight:400;
 font-size: 1.2em;
 margin:0.8em 0;

}

.hour>p , .location>p{
    text-transform: capitalize;
    font-weight:100;
    font-size: 1em;
   
   }
.enter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
    padding:0;
    width: 100%;
    
 
}

.btn{
    font-size: 1.5em;
    background-color: transparent;
    border:2px solid white;
    color:white;
    width:fit-content;
    height:fit-content;
    padding:0.5em 2.5em;
 transition: 0.6s ease-in-out;
 
}

.btn:hover {

  background-color: white;
  border:2px solid white;
  color:black;
  font-weight: 100;


}

 .slide-in-fwd-center{-webkit-animation:slide-in-fwd-center 2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-fwd-center 2s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

 .slide-in-fwd-center2{-webkit-animation:slide-in-fwd-center2 2s cubic-bezier(.25,.46,.45,.94) 2s both;animation:slide-in-fwd-center 2s cubic-bezier(.25,.46,.45,.94) 2s both}
 @-webkit-keyframes slide-in-fwd-center2{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

 .slide-in-fwd-center3{-webkit-animation:slide-in-fwd-center3 2s cubic-bezier(.25,.46,.45,.94) 3s both;animation:slide-in-fwd-center 2s cubic-bezier(.25,.46,.45,.94) 3s both}
 @-webkit-keyframes slide-in-fwd-center3{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

 .slide-in-fwd-center4{-webkit-animation:slide-in-fwd-center4 2s cubic-bezier(.25,.46,.45,.94) 4s both;animation:slide-in-fwd-center 2s cubic-bezier(.25,.46,.45,.94) 4s both}
 @-webkit-keyframes slide-in-fwd-center4{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}


 .slide-in-blurred-top{-webkit-animation:slide-in-blurred-top 2s cubic-bezier(.23,1.000,.32,1.000) 2s both;animation:slide-in-blurred-top 2s cubic-bezier(.23,1.000,.32,1.000) 2s both}
 @-webkit-keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

